**/__MACOSX
**/.DS_Store
**.ipynb
**/__pycache__
logs
models
data/city_vehicle*
data/company*
data/quora*
data/twitter*
data/quora_3500
data/webmaster*
data/stackoverflow*
data/city_human*
data/VeRi*
data/*.tar
data/flickr30k*
archive
.results
run*.sh
*.out
*.jsonl
