**/.DS_Store
**.ipynb
**/__pycache__
**/logs
data/city_vehicle*
data/company*
data/quora*
data/twitter*
data/quora_3500
data/stackoverflow*
data/city_human*
data/wikidiverse*
data/flickr30k*
archive
**/model_cache
slurm-*.out
run*.sh